.wecast-player {
    user-select: none;
}

#wecast-media {
    background-color: #FFFFFF;
    width: 100%;
    height: 320px;
}

#wecast-thumbs {
    background-color: #EEEEEE;
    width: 100%;
    height: 80px;
}